{% extends 'base.html' %} {% block body %}
<h1>{{post.title}}</h1>
<h3>
  {{post.likes}} likes, by <a href="/user/{{post.author}}">@{{post.author}}</a>
  {% if post["hidden"] %} , hidden {% endif %}
</h3>
<p>{{post.content}}</p>
<form action="/admin/posts/{{post.post_id}}/delete" method="POST">
  <input type="hidden" name="_method" value="DELETE" />
  <button type="submit">Delete Item</button>
</form>
<form action="/admin/posts/{{post.post_id}}/hidden" method="POST">
      <input type="hidden" name="_method" value="HIDDEN" />
      <button type="submit">Toggle Hidden</button>
    </form>
{% endblock %}
