{% extends 'base.html' %}

{% block body %}
<h1 class="centered">Edit profile for {{ username }}</h1>

<form class="block" method="post" action="{{ url_for('edit_profile', username=username) }}" enctype="multipart/form-data">
    <label><h3>Display Name</h3></label>
    <input class="wide" name="display_name" type="text" value="{{ user.display_name }}" />
    <br>
    <br>
    <label><h3>Bio</h3></label>
    <textarea name="bio" rows="4" cols="50" placeholder="Bio">{{ user.bio }}</textarea>
    <br>
    <br>
    <label><h3>Profile picture</h3></label>
    <input name="pfp" type="file" accept="image/png, image/jpeg">
    <br>
    <br>
    <label><h3>Private</h3></label>
    <input name="private" type="checkbox" {% if user.private %}checked{% endif %}>
    <br>
    <br>
    <label><h3>Password</h3></label>
    <input class="wide" name="password" type="password" placeholder="New password (optional)">
    <br>
    <br>
    <label><h3>Repeat Password</h3></label>
    <input class="wide" name="password2" type="password" placeholder="Repeat new password">
    <br>
    <button type="submit">Edit</button>
</form>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class="flashes">
      {% for category, msg in messages %}
        <li class="flash {{ category }}">{{ msg }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% endblock %}
