{% extends 'base.html' %}

{% block body %}
<h1 class="centered">Login</h1>
<div class="block">
    <form method="post" action="/login">
        <label for="email"><h3>Email</h3></label>
        <input class="wide" id="email" name="email" type="email" placeholder="Email address" required>
        <br>
        <br>
        <label for="password"><h3>Password</h3></label>
        <input class="wide" id="password" name="password" type="password" placeholder="Password" required>
        <br>
        <button type="submit">Sign in</button>
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, msg in messages %}
          <p class="{{ category }}"><strong>{{ msg }}</strong></p>
        {% endfor %}
      {% endif %}
    {% endwith %}
    
    <p>Don't have an account? <a href="/register">Click here to register</a>.</p>
  </section>
</div>
{% endblock %}
