{% extends 'base.html' %}

{% block body %}
<h1 class="centered">Register</h1>
<div class="block">
    <form method="post" action="/register">
        <label for="username"><h3>Username</h3></label>
        <input class="wide" id="username" name="username" type="text" placeholder="Username" required>
        <br>
        <br>
        <label for="email"><h3>Email</h3></label>
        <input class="wide" id="email" name="email" type="email" placeholder="Email address" required>
        <br>
        <br>
        <label for="password"><h3>Password</h3></label>
        <input class="wide" id="password" name="password" type="password" placeholder="Password" required>
        <br>
        <br>
        <label for="password2"><h3>Repeat Password</h3></label>
        <input class="wide" id="password2" name="password2" type="password" placeholder="Repeat password" required>
        <br>
        <button type="submit" class="primary">Create account</button>
    </form>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, msg in messages %}
          <p class="{{ category }}"><strong>{{ msg }}</strong></p>
        {% endfor %}
      {% endif %}
    {% endwith %}
    
    <p class="list-text"><strong>Requirements:</strong></p>
    <ul>
      <li>Username must be at least 3 characters long</li>
      <li>Password must be at least 8 characters long</li>
    </ul>
    
    <p>Already have an account? <a href="/login">Click here to login</a>.</p>
  </section>
</div>
{% endblock %}
