{% extends 'base.html' %}

{% block body %}
<div class="profile-info">
    <h2>{{ displayname }}</h2>
    <img src="/static/profile-pictures/{{ profile_picture }}">
    <p>{{ bio }}</p>
    {% if session.username == username %}
        <a href="/edit_profile/{{username}}">Edit profile</a>
    {% endif %}
</div>
{% if posts|length > 0 %}
    {% for post in posts %}
    <div class="block">
        <h3><a href="/posts/{{post[0]}}">{{post[1]}}</a></h3>
        {{post[5]}} likes, by <a href="/user/{{post[7]}}">@{{post[7]}}</a>
    </div>
    {% endfor %}
{% else %}
    <div class="block centered"><h4>This user has no posts!</h4></div>
{% endif %}
{% endblock %}
